.header .color-list {
    height:50px;
    width: 50px;
    max-width: 50px;
    position: relative;
}
.header .inner-color-list {
    position: absolute;
    top:0;
    left:0;
    height:600%;
    width: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f4f4f2;
    border-radius: 25px;
    max-height: 50px;
    transition: max-height 0.5s;
    will-change: max-height;
    max-width: 50px;
    padding: 9px;
    box-sizing: border-box;
}
.header .inner-color-list:hover {
    max-height: 254px;
}
.header .inner-color-list:hover .color-btn{
    max-height: 32px;
    margin-bottom: 8px;   
    max-width: 32px;
    transition: max-height 1s, max-width 1s;
}
.header .inner-color-list:hover .color-btn:last-of-type{
    margin-bottom: 0;
}
.header .color-btn {
    height:32px;
    width: 32px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    min-width: 0;
    max-width: 0px;
    max-height: 0;
    transition: max-height 0.5s, max-width 0.5s;
    will-change: max-height, max-width;
    /* margin-bottom: 8px; */
    /* border: 2px solid rgba(0,0,0,0); */
}

.header .color-btn.active {
    max-height: 32px;
    max-width: 32px;
    margin-bottom: 0px;
    border: 2px solid black;
}

.header .color-btn.turq-btn {
    background-color: rgb(0,255,255);
}
.header .color-btn.purple-btn {
    background-color: rgb(255,0,255);
}
.header .color-btn.blue-btn {
    background-color: rgb(0,0,255);
}
.header .color-btn.green-btn {
    background-color: rgb(0,255,0);
}
.header .color-btn.red-btn {
    background-color: rgb(255,0,0);
}
.header .color-btn.yellow-btn {
    background-color: rgb(255,255,0);
}